Django==5.0.14
gunicorn==23.0.0

dj-database-url==3.1.2
psycopg2-binary==2.9.10
python-dotenv==1.2.3

whitenoise==6.9.0
Pillow==12.3.0

google-genai==2.18.1
google-auth==2.56.3

numpy==2.4.6
scipy==1.17.1

gTTS==2.5.4
replicate==1.0.7
requests==2.34.2

django-compressor==4.6.0
rcssmin==1.2.2
rjsmin==1.2.5