{% load static  %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Happy Diwali</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.webp' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Yatra+One&family=Srisakdi&display=swap" rel="stylesheet">


    <link rel="shortcut icon" type="image/x-icon" href="static/diya.png">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/css/diwali.css' %}">

<script src="{% static 'assets/js/diwali.js' %}"></script>
  
</head>
<body>
  <div class="container-fluid px-2 px-md-4">

  <h1>Happy Diwali {{ name }}</h1>

<div class="glitter-container"></div>

    <div class="fireworks" ></div>

    <h1>🎆 <b>दीपावली की हार्दिक शुभकामनाएं</b> 🎇<br>
        </h1>
         <h1  class="animated-heading"> <span id="previewNameBox"  class="rgb-name"> <span class="sparkle">{{ name }} </span></span>
           </h1> 
    <br>
    <br>
    <br>     
    <img src="{% static 'family.jpg' %}" alt="" class="decoration-img"  class="img-fluid" style="box-shadow: 0 0 90px orange, 0 0 25px pink;"><br>


    <!-- <h3 id="diw_message"><strong>🪔दीवाली का त्योहार आपके जीवन में नई खुशियाँ और समृद्धि लेकर आए 💰✨।<br> सभी को रोशनी और प्यार मिले 🪔।</strong></h3><br>
    <h4 id="diw_message"><b><i>माता लक्ष्मी और भगवान गणेश की कृपा से आपके जीवन में सुख, <br>समृद्धि और सफलता का दीप जलता रहे।
        दीपक के प्रकाश की तरह <br>आपके जीवन में उजाला और खुशहाली बनी रहे।
        आपकी सभी मनोकामनाएं पूर्ण हों। </i></b><br>🪔🧿🪔</h4> -->

    
        <h3 class="diw-message floating-text">
  <strong>🪔 दीवाली का त्योहार आपके जीवन में नई खुशियाँ और समृद्धि लेकर आए 💰✨।<br>
  सभी को रोशनी और प्यार मिले 🪔।</strong>
</h3>

<h4 class="diw-message floating-text pulse-text">
  <b><i>
   🪷 माता लक्ष्मी और भगवान गणेश की कृपा से आपके जीवन में सुख,<br>
    समृद्धि और सफलता का दीप जलता रहे।<br>
    दीपक के प्रकाश की तरह आपके जीवन में उजाला और खुशहाली बनी रहे।<br>
    आपकी सभी मनोकामनाएं पूर्ण हों। 🪷
  </i></b>
</h4>



    <img src="{% static 'raangoli.png' %}" alt="rangoli" class="decoration-img" class="img-fluid"><br>
    <h4>play this 🎶 </h4>
    <audio controls loop>
  <source src="{% static 'happy_diwali.mp3' %}" type="audio/mpeg">
</audio><br> 
    <img src="{% static 'finger-gun-emoji.gif' %}" alt="emo" class="img-fluid"><br><br>

    <p style="font-size: 2.5em;"><b><i>Wishing you a joyful and sparkling Diwali!</i></b></p>
    
🪔🕉️🪔🕉️🪔🕉️🪔🕉️🪔🕉️🪔🕉️🪔🕉️🪔🕉️🪔
    <div class="diya-row">
        
        <img src="{% static 'happydiwali.gif' %}"  class="img-fluid" style="box-shadow: 0 0 90px orange, 0 0 25px pink;">
        
        
    </div><br>
    <img src="{% static 'diwali_2.gif' %}"  class="img-fluid" style="height:400px; box-shadow: 0 0 105px orange, 0 0 125px pink;"><br><br>
    🪔🕉️🪔🕉️🪔🕉️🪔🕉️🪔🕉️🪔🕉️🪔🕉️🪔🕉️🪔
    <hr>





   


<!-- Left auto-scroll border -->
<div class="scroll-border scroll-left">
    <div class="scroll-content">
         <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon">
        <!-- Repeat to make loop smoother -->
        <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon"> <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon"> <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon">
        <!-- Repeat to make loop smoother -->
        <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon"> <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon"> <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon">
        <!-- Repeat to make loop smoother -->
        <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon"> <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon"> <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon">    </div>
</div>

<!-- Right auto-scroll border -->
<div class="scroll-border scroll-right">
    <div class="scroll-content">
      <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon">
        <!-- Repeat to make loop smoother -->
        <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon"> <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon"> <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon">
        <!-- Repeat to make loop smoother -->
       <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon"> <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon"> <img class="img-fluid" src="{% static 'diya.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'rangoli.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'om.png' %}" class="scroll-icon">
        <img class="img-fluid" src="{% static 'kalash.png' %}" class="scroll-icon">
    </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<!-- Confetti library -->
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

<!-- Firecracker emoji floating near sticky bar -->
<div class="floating-firecracker">🧨</div>


<div class="sticky-toolbar">
  <form onsubmit="generateLink(event)" class="toolbar-form">
    <input type="text" id="nameInput" class="toolbar-input" placeholder="🎉 अपना Naam डालें !" required>
    <button type="submit" class="toolbar-btn">
      <i class="fas fa-pen-to-square"></i> Click here
    </button>
    <a id="whatsappShareBtn" href="#" target="_blank" class="toolbar-btn btn-success d-none" style="background-color: green; text-decoration: none;">
      <i class="fab fa-whatsapp" ></i> अपने दोस्तों के साथ शेयर करो
    </a>
  </form>
</div>

</div>

<div style="height:80px;"></div>
</body>
</html>
